#sondages-page-main-container {
  display: grid;
  grid-template-rows: 1fr;
}

#sondages-page-main-content {
  background-color: black;
  height: calc(100vh - 4.5rem);
  display: grid;
  gap: 0 40px;
  grid-template-columns: 60% 30%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
}

#sondages-page-sondage-info-container {
  border: 3px solid var(--primary-gray);
  width: 100%;
  height: 85%;
}

#sondages-page-sondage-container {
  border: 3px solid var(--primary-gray);
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

#sondages-page-sondage-question-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--primary-gray);
}

#sondages-page-sondage-question {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#sondages-page-sondage-options-container {
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.sondages-page-sondage-option-container {
  border: 4px solid white;
  background-color: var(--primary-red);
  padding: 20px 10px;
  transform: skewX(-11deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease;
  cursor: pointer;
}

.sondages-page-sondage-option-container:hover {
  transform: scale(1.01) skew(-5deg);
}

.sondages-page-sondage-option {
  color: white;
}

.sondages-page-sondage-option-percent {
  color: white;
  font-weight: bold;
}

#sondages-page-sondage-submit-container {
  height: 50px;
  width: 100%;
}

#sondages-page-sondage-submit-button {
  width: 100%;
  height: 100%;
  background-color: black;
  border: none;
  border-top: 3px solid var(--primary-gray);
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
