#sondages-page-main-container {
  display: grid;
  grid-template-rows: 1fr;
}

#sondages-page-main-content {
  background-color: black;
  height: calc(100vh - 4.5rem);
  display: grid;
  gap: 0 40px;
  grid-template-columns: 60% 30%;
  grid-template-rows: 100%;
  align-items: center;
  justify-content: center;
}

#sondages-page-sondage-info-container {
  border: 2px solid gray;
  width: 100%;
  height: 85%;
}

#sondages-page-sondage-container {
  border: 2px solid gray;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

#sondages-page-sondage-question-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid gray;
}

#sondages-page-sondage-question {
  color: white;
  text-align: center;
  font-size: 20px;
}

#sondages-page-sondage-options-container {
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.sondages-page-sondage-option-container {
  border: 2px solid white;
  padding: 10px;
  transform: skewX(-11deg);
}

.sondages-page-sondage-option {
  color: white;
}

#sondages-page-sondage-submit-container {
  height: 50px;
  width: 100%;
}

#sondages-page-sondage-submit-button {
  width: 100%;
  height: 100%;
  background-color: black;
  border: none;
  border-top: 3px solid gray;
  color: gray;
  font-size: 17px;
  cursor: pointer;
}
