#signup-page-back-link {
  color: white;
  transition: scale 0.2s ease-in;
}

#signup-page-back-link:hover {
  scale: 1.2;
}

#login-page-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

#login-page-loading-text {
  color: var(--primary-gray);
}

#signup-page-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
}

#signup-page-header-container {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: center;
  height: 4.5rem;
  border-bottom: 4px solid var(--primary-gray);
  background-color: black;
}

#signup-page-header-title {
  color: white;
  font-size: clamp(40px, 8vw, 50px);
}

#signup-page-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4.5rem);
  background-color: black;
}

#signup-page-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 400px;
}

#signup-page-input-label-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Forme styles */

.signup-page-form-labels-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.signup-page-form-label {
  color: white;
}

.signup-page-form-input {
  padding: 10px;
  border-radius: 15px;
  border: 3px solid var(--primary-gray);
}

.signup-page-form-input:focus {
  outline: none;
}

/* Form submit & link */

#signup-page-submit-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

#signup-page-form-submit-button {
  padding: 10px;
  background-color: black;
  color: white;
  border: 2px solid var(--primary-gray);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

#signup-page-form-submit-button:hover {
  padding-left: 15px;
  padding-left: 15px;
}

#signup-page-to-login-link {
  color: var(--primary-gray);
  text-decoration: none;
  width: max-content;
  position: relative;
  padding-bottom: 4px;
  transition: scale 0.2s ease-in;
}

#signup-page-to-login-link:hover {
  scale: 1.05;
}

#signup-page-to-login-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-gray);
}

#signup-page-error-message {
  color: var(--primary-red);
}