#footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;

  height: 4.5rem;
  border-top: 4px solid var(--primary-gray);
  background-color: black;
}

#footer-tiktok-link-container,
#footer-discord-link-container,
#footer-youtube-link-container {
  display: flex;
  align-items: center;
  justify-content: center ;
  text-decoration: none;
  transition: scale 0.2s ease-in;
}

#footer-tiktok-link-container:hover,
#footer-discord-link-container:hover,
#footer-youtube-link-container:hover {
  scale: 1.1;
}

#footer-tiktok-label,
#footer-discord-label,
#footer-youtube-label {
  color: white;
  text-decoration: none;
}

.footer-links-arrows-icon {
  color: white;
  scale: 0.8;
  text-decoration: none;
}

#footer-copyright-icon {
  color: white;
  scale: 0.8;
}