#messages-page-main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: calc(100vh - 4.5rem);
  justify-items: center;
  align-items: center;
  background-color: black;
}

#messages-page-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

#messages-page-component {
  height: 90%;
  width: 90%;
  border: 3px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

#messages-page-messages-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  width: 100%;
  max-height: calc(100% - 7%);
  padding: 20px;
  overflow: scroll;
  scrollbar-width: none;
}

/* Message part */

.messages-page-message-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 20px;
}

.messages-page-message-text-container {
  border: 3px solid white;
  max-width: 80%;
  flex-grow: 0.1;
  padding: 10px;
  transform: skewX(-11deg);
}

.messages-page-message-text {
  overflow-wrap: anywhere;
  color: white;
}

.messages-page-message-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px;
  border: 3px solid gray;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.messages-page-message-username {
  color: white;
  font-weight: bold;
}

.messages-page-message-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

}

#messages-page-selected-user-info-container {
  position: absolute;
  left: -200%;
  width: 250px;
  background-color: black;
  z-index: 1;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: skewX(-6deg);
}

#messages-page-selected-user-info-username-profile-image-container {
  display: flex;
  align-items: center;
  gap: 0px 5px ;
}

#messages-page-selected-user-info-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
  object-position: center;

}
#messages-page-selected-user-info-username {
  color: white;
}

#messages-page-selected-user-social-link,
#messages-page-selected-user-createdAt {
  color: white;
}


/* Input & button part */

#messages-page-send-input-button-container {
  display: flex;
  align-items: stretch;
  height: 7%;
  border-top: 3px solid gray;
}

#messages-page-send-input {
  flex-grow: 1;
  height: 100%;
  padding-left: 10px;
  border-radius: 0;
  background-color: black;
  color: white;
}

#messages-page-send-input:focus {
  outline: none;
}

#messages-page-send-button {
  padding: 0 15px;
  border: 1px solid gray;
  background-color: black;
  color: white;
  cursor: pointer;
}
